<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'inventory/products_list.css' %}">
    <title>Document</title>
</head>
<body>
<table>
        <tr>
            <th>name</th>
            <th>email</th>
            <th>contacts</th>
            <th>location</th>
            <th>Customer details</th>
            <th>Edit customer</th>

        </tr>
    <tbody>
        {% for customer in customers %}
        <tr>
            <td>{{customer.name}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.contacts}}</td>
            <td>{{customer.location}}</td>

            <td><a href = "{% url 'customer_detail_view' id=customer.id %}">View customer</a></td>
            <td><a href = "{% url 'customer_edit_view' id=customer.id %}">Edit customer details</a></td>
       
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>






