<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'inventory/products_list.css' %}">
    <title>Document</title>
</head>
<body>
<table>
        <tr>
            <th>name</th>
            <th>quantity</th>
            <th>total</th>
            <th>shipment details</th>
            <th>Edit shipment</th>
        </tr>
    <tbody>
        {% for shipment in shipments %}
        <tr>
            <td>{{shipment.name}}</td>
            <td>{{shipment.quantity}}</td>
            <td>{{shipment.total}}</td>
            

            <td><a href = "{% url 'shipment_detail_view' id=shipment.id %}">View shipment</a></td>
            <td><a href = "{% url 'shipment_edit_view' id=shipment.id %}">Edit shipment</a></td>
       
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>






